

.AddTask {
    /* align-items: center;
    justify-content: center; */
    /* top:25%; */
    display:flex;
    width: 50%;
    justify-content:center;
    align-items: center;
    margin :auto;
    margin-top:5%;
}

.AddTaskInput{
    height:20px;
    width:400px;
    margin-right: 2%;
}

.AddTaskButton{
    width:60px;
    background-color: black;
    color:white;
    border: none;
}

.todolist {
    width:45%;
    height: 20px;
    margin: auto;
    margin-top: 0;
    background-color:blue;
    color:black;
    border-radius: 5px;
}

